<!-- <div class="container">
  <div class="products">
    <div class="product">
      <div class="grid-column-1 transparent-column">
        <button class="button" (click)="previousProduct()"></button>
      </div>
      <div class="grid-column-2">
        <p>{{selectedProduct.name}}</p>
      </div>
      <div class="grid-column-3 transparent-column">
        <button class="button"></button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="slideshow">
  <button (click)="previousProduct()">Previous</button>
  <img [@slideAnimation]="index" [src]="images[index]" alt="Slide" class="slide-image">
  <button (click)="nextProduct()">Next</button>
</div> -->

