<div class="container">
    <div class="form">
      <h2>Login</h2>
      <h3 *ngIf="loginError">Username or Password is incorrect</h3>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" #username required (keyup.enter)="login(username.value, password.value)">
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" #password required (keyup.enter)="login(username.value, password.value)">
  
      <button type="submit" (click)="login(username.value, password.value)">Login</button>
      <a [routerLink]="['/register']">Nog geen account?</a>

  </div>
</div>
  