<div class="container">
    <div class="add-product">
        <div class="add-product-component">
          <h2>Add Product</h2>
          <div class="inputs">
            <input type="text" id="productName" placeholder="Product Name" #name required>
      
            <input type="text" id="productImage" placeholder="Image URL" #image required>
      
            <input type="number" id="productCost" placeholder="Cost" #cost required>
          </div>
          <button type="button">Cancel</button>
          <button type="submit" (click)="addProduct(name.value, cost.value, image.value)">Add Product</button>
        </div>
    </div>
    <div class="div2">

    </div>
    <div class="div3">

    </div>
    <div class="orders">
      <h2>Orders</h2>
      <div class="order-component">
        <div class="order" *ngFor="let order of orders; let i = index">
          <p>Name: {{order.name}}</p>
          <div class="products" *ngFor="let productInShoppingCart of order.products; let i = index">
            <p>{{productInShoppingCart.product.name}}: {{productInShoppingCart.quantity}}</p>
          </div>
        </div>
      </div>      
  </div>  
</div>